<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIAppFonts</key>
	<array>
		<string>Mukta-Medium.ttf</string>
	</array>
	<key>MARVEL_PUBLIC_KEY</key>
	<string>bf5c54c6f13dfde2f8bb30e33c17ee19</string>
	<key>MARVEL_PRIVATE_KEY</key>
	<string>374bdd10adfe616a22b155ef24f821a9eed6f660</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>CharacterList</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
